@font-face {
  font-family: "Rubik";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/rubik/rubik-400.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "Rubik";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/rubik/rubik-700.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 800;
  src: url("../fonts/raleway/raleway-800.woff2") format("woff2");
  font-display: swap;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

html, body {
  height: 100%; /* sticky footer */
  min-height: 100%; /* sticky footer */
}

body {
  display: flex; /* sticky footer */
  flex-direction: column; /* sticky footer */
  min-width: 1440px;
  margin: 0;

  font-family: "Rubik", sans-serif;
  font-size: 18px;
  line-height: 30px;
  color: #444444;
  background-color: #ffffff;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.list-reset {
  margin: 0;
  padding: 0;
  list-style: none;
}

.container {
  margin: 0 auto;
  width: 1160px;
}

.button {
  display: inline-block;
  padding: 9px 37px;

  font-family: "Raleway", sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 20px;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  letter-spacing: 3.6px;

  color: #000000;
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.button-stroke {
  background-image: linear-gradient(#ffe17f, #ffe17f);
  background-size: 100% 8px;
  background-position: center;
  background-repeat: no-repeat;

  transition: background-size 0.2s ease-in;
}

.button-stroke:hover:not(:disabled) {
  background-size: 100% 100%;
}

.button-stroke:active:not(:disabled) {
  background-image: linear-gradient(#ffcc33, #ffcc33);
  background-size: 100% 100%;
}

.button-stroke:focus {
  background-size: 100% 8px;
}

.button-stroke:focus-visible {
  outline: 2px solid #af4fff;
}

.button-bordered {
  padding: 15px 34px;
  font-size: 16px;
  line-height: 19px;
  letter-spacing: 3.2px;
  border: 3px solid #e5e5e5;

  transition: border 0.15s ease-in,
              opacity 0.15s ease-in;
}

.button-bordered:hover:not(:disabled) {
  border: 3px solid #000000;
}

.button-bordered:active:not(:disabled) {
  opacity: 0.3;
}

.button-bordered:focus-visible {
  outline: 2px solid #af4fff;
}

.button-bordered-forms {
  padding: 15px 34px;
  font-size: 18px;
  line-height: 21px;
  letter-spacing: 3.6px;
  border: 3px solid #c4c4c4;

  transition: border 0.15s ease-in,
              background-color 0.15s ease-in,
              color 0.15s ease-in;
}

.button-bordered-forms:hover:not(:disabled) {
  color: #ffffff;
  background-color: #000000;
  border: 3px solid #000000;
}

.button-bordered-forms:active:not(:disabled) {
  color: rgba(255, 255, 255, 0.3);
}

.button-bordered-forms:focus-visible {
  outline: 2px solid #af4fff;
  outline-offset: 2px;
}

.button:disabled {
  opacity: 0.3;
}

.title {
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  font-size: 50px;
  line-height: 50px;
  color: #000000;
}

}

.main {
  flex-grow: 1; /* sticky footer */
}
